[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = ">=2.3"
flask-restx = "*"
sentry-sdk = "*"
requests = "*"
pytube = ">=12"
opencv-python = ">=4.8"
colorlog = "*"
natsort = "*"
fpdf = "*"

[requires]
python_version = "3.13.4"
